@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap%22");

* {
  box-sizing: border-box;
  padding: 0;
  outline: 0;
  margin: 0;
}

body {
  font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, #root{
  overflow: auto;
  height: 100%;
}

body{
  -webkit-font-smoothing: antialiased !important;
  background-color: #F9F9F9;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body, input, button{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: hsla(0,0%,100%,.08);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
}